@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.wd-typewriter-label {
  overflow: hidden; /* Ensure that text does not overflow */
  white-space: nowrap; /* Prevent line breaks */
  animation: typewriter 1.5s steps(40) 1s infinite alternate;
}

.wd-background3 {
  font-family: "Times New Roman", serif; 
  font-size: 18px; 
  background-color: moccasin;
  border-radius: 10px;
}

.wd-margin1 {
  padding: 5%;
  margin-bottom: 20%;
}

.wd-margin2 {
  padding: 5%;
  margin-top: 20%;
  margin-bottom: -20%;
}

.wd-margin3 {
  padding: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.about-heading {
  font-family: "Times New Roman", serif; 
  font-size: 35px; 
  font-weight: bold; 
  margin-top: 25px;
  color: white;
}

.about-info {
  display: flex;
  justify-content: space-between;
}

.wd-padding-right {
  padding-right: 8%;
}